.cardR{
    background-color: silver;
    width: fit-content;
    padding: 10px;
}

.cardSR{
    background-color: gold;
    width: fit-content;
    padding: 10px;
}

.cardSSR{
    background-color: red;
    width: fit-content;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.card{
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
}

h1{
    text-align: center;
}
